bbody {
    background-color: rgb(116, 107, 173);
    white-space: initial;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

body{
    background-color: #bcbcc1;
}


:root {
    --newColor: #87cefa;
    --animationSpeed: 20s;
}

.newColor {
    background-color: var(--newColor);
}

.img1 {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    margin-left: 20px;
}

:root {
    --no-of-slides: 6;
    --slides-in-view: 4;
    --slide-width: 200px;
    --slide-height: 300px;
    --iteration-time: 10s;
  }


@keyframes scroll {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(var(--slide-width) * var(--no-of-slides)* -1));
      }
  }
  
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
  }
  
  .slider::before,
  .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  
  .slider::before {
    left: 0;
    top: 0;
  }
  
  .slider .slide-track {
    animation: scroll 20s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  
  .slider .slide {
    height: 100px;
    width: 250px;
  }

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    font-weight: bold;
    line-height: 1;
    font-family: monospace;
    font-size: x-large;
}

h2 {
    text-align: center;
    margin-top: 200px;
}

.navigations {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: 70%;
    margin-top: -7%;
    position: absolute;
}

.navigation {
    margin: 10px;
}

.img2 {
    width: 200px;
    height: 150px;
}

.img3 {
    width: 250px;
    height: 150px;
    margin-right: 10px;
    margin-left: auto;
    display: inline;
    justify-content: space-between;
    margin-left: 120px;
    animation: moveSlideShow 20s linear infinite;
    display: inline-flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

section {
    display: block;
}

h1 {
    text-align: center;
}

.gif {
    width: 300px;
    height: 300px;
    text-align: center;
    opacity: 1;
    margin-bottom: 70px;
    margin-right: 100px;
    float: right;
}

.projectpic {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
}


.about {
    margin-right: 500px;
    border: 2px solid black;
    background-color: black;
    color: azure;
    opacity: 0.5;
    margin-left: 10px;
}

@media only screen and (max-width: 480px) {
    .img1 {
        display: inline-block;
        justify-content: center;
    }
}

    #myButton {
        box-shadow:inset 0px 0px 15px 3px #23395e;
        background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
        background-color:#2e466e;
        border-radius:17px;
        border:1px solid #1f2f47;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:15px;
        padding:6px 13px;
        text-decoration:none;
        text-shadow:0px 1px 0px #263666;
    }
    #myButton:hover {
        background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
        background-color:#415989;
    }
    #myButton:active {
        position:relative;
        top:1px;
    }



    .originalColor {
        box-shadow: 3px 4px 0px 0px #899599;
        background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
        background-color:#030303;
        border-radius:15px;
        border:1px solid #2a6cf0;
        display:inline-block;
        cursor:pointer;
        color:#3a8a9e;
        font-family:Arial;
        font-size:17px;
        padding:7px 25px;
        text-decoration:none;
        text-shadow:0px 1px 0px #bcbcc1;
    }
    .originalColor:hover {
        background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
        background-color:#bab1ba;
    }
    .originalColor:active {
        position:relative;
        top:1px;
    }

    .java{
        border: 2px solid blue;
        margin-right: 20px;
        text-align: left;
        display: block; margin-right: 500px;
    }
